@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/

// Nunito and PT Sans
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700|PT+Sans");

// Colors
$primary: rgb(190, 5, 117);
$link: rgb(32, 63, 182);
$info: #61afef;
$warning: #d19a66;
$success: #89ca78;

// Default font
$family-sans-serif: "PT Sans";

// Gradient text
.gradientbg {
  background: linear-gradient(45deg, rgb(32, 63, 182), rgb(190, 5, 117));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

// Section headers and such
#shortcuts strong {
  @extend .gradientbg;
}

.fancy {
  font-family: "Nunito";
}

// Left column background
.pgh {
  background-image: linear-gradient(45deg, rgba(32, 63, 182, 0.7) 5%, rgba(190, 5, 117, 0.5)), url("./../images/pgh.jpg") !important;
  background-size: cover;
}

// Button and link animations
.button,a {
  transition: all 0.25s ease-in-out;
}

.pgh .button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

// Shadow for profile picture
#profile {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

@import "../node_modules/bulma/bulma";

// Visit Pittsburgh link hover color
.pgh .hero-foot a:hover {
  color: $white !important;
}

// Light blue link hover color
a:hover {
  color: $info;
}

// Spacing around descriptions and such
.project .subtitle {
  margin-bottom: 0.75rem !important;
  @extend .has-text-grey;
}

.content {
  margin-bottom: 0.75rem !important;
}

.project {
  margin-bottom: 1.5rem;
}

.extrasub {
  margin-top: -0.5rem;
}

// Combine fancy with gradient text
.fancier {
  @extend .fancy;
  text-transform: uppercase;
  font-weight: bold;
  font-size: $size-small;
  line-height: 200%;
  text-align: right;
  @extend .gradientbg;
}

// Section headers centered on mobile
@media screen and (max-width: $tablet) {
  .fancier {
    text-align: center;
  }
}

// Scrolling
body {
  overflow-y: hidden;
}

body > .columns {
  margin-bottom: 0 !important; 
}

@media screen and (min-width: $tablet) {
  .scrollable {
    height: 100%;
    overflow-y: scroll;
  }

  .scrollable > .hero-body > .container {
    height: 80vh !important;
  }
}

// Responsive left column height
#main {
  @extend .is-fullheight;
}

@media screen and (max-width: $tablet) {
  #main {
    min-height: 70vh !important;
  }
}

// Tighter container on mobile
@media screen and (max-width: $tablet) {
  #resume-body {
    padding: 1rem 1rem 1.5rem 1rem;
  }
}
