.block.resume-block .title {
  margin-bottom: 0.5rem;
}

.block.resume-block .title a:hover {
  color: $link;
}

.block.resume-block .subtitle {
  margin-top: 0.5rem !important;
  @extend .has-text-grey;
}

.block.resume-block .subtitle:not(:last-child) {
  margin-bottom: 0.25rem;
}

.block.resume-block .subtitle:last-child,
.block.resume-block .content:not(:last-child) {
  margin-bottom: 1rem;
}

.block.resume-block .award:not(:last-child) {
  margin-bottom: 0.25rem;
}

.block-description {
  padding-top: 0.5rem;
}

.block-section:not(:last-child) {
  padding-bottom: 3rem;
}

.block-header:not(:last-child) {
  margin-bottom: 1.6rem;
}

.block.resume-block .subtitle {
  text-transform: none;
}

.block-link:hover {
  cursor: pointer;
}

.block.resume-block.box p a {
  @extend %fancy-link;
}

.block.resume-block.box p a:hover {
  @extend %fancy-link-hover;
}
