@import 'node_modules/bulmaswatch/flatly/_variables';

// Colors
$primary: rgb(190, 5, 117);
$link: rgb(32, 63, 182);
$info: #61afef;
$warning: #d19a66;
$success: #89ca78;

@import 'bulma';
@import '~bulma-tooltip';
@import 'node_modules/bulma-badge/dist/css/bulma-badge';
@import 'node_modules/bulmaswatch/flatly/_overrides';

// Gradient text
.gradientbg {
  background: linear-gradient(45deg, rgb(32, 63, 182), rgb(190, 5, 117));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

// Nunito
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Section headers and such
#shortcuts strong {
  @extend .gradientbg;
}

.fancy {
  font-family: 'Nunito';
}

.fancy .title {
  font-weight: bold;
}

// Left column background
.pgh {
  background-image: linear-gradient(45deg, rgba(32, 63, 182, 0.7) 5%, rgba(190, 5, 117, 0.5)),
    url('./assets/pgh.jpg') !important;
  background-size: cover;
}

.pgh .button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

// Shadow for profile picture
#profile {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

// Visit Pittsburgh link hover color
.pgh .hero-foot a:hover {
  color: $white !important;
}

// Light blue link hover color
a:hover {
  color: $info;
}

a.tag:hover {
  text-decoration: none;
}

// Spacing around descriptions and sections
#education {
  padding-bottom: 0.5rem;
}

#skills {
  padding-bottom: 1.5rem;
}

.block .title {
  margin-bottom: 0.5rem;
}

.block .subtitle {
  margin-top: 0.5rem !important;
  @extend .has-text-grey;
}

.block .block-corner a {
  margin-left: 0.75rem;
}

.block {
  padding-bottom: 0.5rem;
}

.block:hover {
  opacity: 0.75;
  cursor: pointer;
}

.extrasub {
  margin-bottom: 0.25rem !important;
}

// Combine fancy with gradient text
.fancier {
  @extend .fancy;
  text-transform: uppercase;
  font-weight: bold;
  font-size: $size-small;
  line-height: 200%;
  text-align: right;
  @extend .gradientbg;
}

// Section headers centered on mobile
@media screen and (max-width: $tablet) {
  .fancier {
    text-align: center;
  }
}

// Responsive resume container size
@media screen and (max-width: $tablet) {
  #resume-body {
    padding: 1rem 1rem 1.5rem 1rem;
  }
}

// Expand/collapse course list
.course-list li:last-child {
  list-style-type: none;
}

// No margin after course work details
.course-list .notification {
  padding: 0.5rem;
  margin-bottom: 0;
}

// Don't capitalize resume subtitles
#resume-body .subtitle {
  text-transform: none;
}

// Square image scaling
.scale-square {
  object-fit: cover;
}
